main {
  /* border-radius:10px;
  box-shadow: 0px 0px 8px 0px rgb(0,0,0,0.5);
  color: white;
  background-color: rgb(5,51,107); */
  width: 100%;

  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 15px;

  padding: 0px;
}

/* .cityDateHeader{
  margin-left: 10px;
} */

.mainCityText {
  font-size: 100px;
  font-weight: bold;
  text-align: left;
  padding-top: 50px;
  /* padding-left: 50px; */
}

.mainDateText {
  font-size: 36px;
  text-align: left;
  padding-left: 50px;
}

/* BLUE BOX STARTS */

.mainThreeDataPoints {
  margin-top:50px;
  /* padding-top: 50px; */
  /* padding-bottom: 50px; */
}

.leftWeatherSection {
  text-align: center;  
  /* padding-top: 30px; */
}


.middleWeatherSection {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  text-align: left;
  padding-top: 40px;
}

.rightWeatherSection {
  text-align: center;  
  /* padding-top: 55px; */
}

.main3Headline {
  font-weight: bolder;
  font-size: 40px;
  /* text-align: center; */
}

.mainIcon {
  /* width: auto; */
  display: block;

  /* padding-top: 50px; */
  margin-left: auto;
  margin-right: auto;
  /* margin-top: -10%; */

  width: 72%;
}

#weatherDescription {
  text-transform: capitalize;
  
  text-align: center;
  /* padding-left: 20%; */
  font-size: 24px;
  /* font-weight: bold; */
}

#mainTempText {
  font-size: 100px;
  /* padding-top: 15px; */
  /* padding-left: 25px; */
  margin-bottom: -10px;
  font-weight: lighter;
  text-align: center;
}

#feelsLike {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#highLowTemp {
  font-size: 30px;
  font-weight:lighter;
  text-align: center;
  
}

#windImage {
  /* padding-top: 25px; */
  width: 40%;
}

/* #windDirection {
  padding-top: 15px;
  text-align: center;
} */


/* TOMORROW BOX */
.tomorrowBox {
  background-color: rgb(55,92,137);
  border-radius: 25px;

  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 0px rgb(0,0,0,0.5);
}

@media (max-width: 480px) {
  .mainCityText {
    font-size: 5rem !important;
    /* font-weight: bold; */
    text-align: left;
    padding-top: 10px;
    padding-left: 0px;
  }
  .mainDateText {
    font-size: 2rem;
    text-align: left;
    padding-left: 0px;
  }
  .mainThreeDataPoints {
    margin-top: 0 !important;
  }
}